gdown
pyarrow
langchain
langchain-chroma
langchain-openai
langchain-core
langchain-text-splitters
langchain-community
rank-bm25
langgraph
pydantic-settings
langsmith
python-dotenv
langchain-huggingface
sentence-transformers
faiss-cpu==1.10.0
fastapi
uvicorn